
airflow_pipeline/airflow.cfg
airflow_pipeline/webserver_config.py
airflow_pipeline/unittests.cfg
airflow_pipeline/logs/
airflow_pipeline/plugins/__pycache__/
__pycache__/
*.pyc
*.db
*.pid
airflow_pipeline/simple_auth_manager_passwords.json.generated
datalake/*
dados_transformados/
venv/